<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/assets">Assets</a></li>
    <li><a href="/families">Families</a></li>
  </ul>
  <a href="/families/<%= parent.idParent %>">Back</a>
  <h2>Hallo, I'm <%= parent.name %></h2>
  <% if(url != '/families'){ %>
  <p>This is a list of owned assets of <b><%= parent.name %></b>:</p>
  <button onclick="addAsset()">Add Asset</button>
  <div style="margin-top: 10px;display: none;" id="add-aset">
    <form action="/families/asset" method="POST">
      <input type="hidden" name="idUser" value="<%= user %>">
      <input type="hidden" name="price" id="price">
      <select name="nameAsset" id="aset"
        onchange="changeProduct(this.options[this.selectedIndex].getAttribute('data-price'))">
        <option>Pilih</option>
        <% products.forEach((product,i) => { %>
        <option value="<%= product.title %>" data-price="<%= product.price %>"><%=  product.title %></option>
        <% }); %>
      </select>
      <button type="submit">save</button>
    </form>
  </div>
  <table style="margin-top: 10px;">
    <tr>
      <th>No</th>
      <th>Title</th>
      <th>Price</th>
      <th>#</th>
    </tr>
    <% var totalPrice = 0; %>
    <% if(assets.length > 0){ %>
    <% assets.forEach((asset,i) => { %>
    <tr>
      <td><%= i + 1 %></td>
      <form action="/families/asset/<%= asset.id %>?_method=PATCH" method="POST">
        <td>
          <span id="nameAssetLabel<%= asset.id %>" style="display:block"><%= asset.nameAsset %></span>
          <input type="text" name="nameAsset" value="<%= asset.nameAsset %>" id="nameAsset<%= asset.id %>"
            style="display:none">
        </td>
        <td>
          <span id="priceLabel<%= asset.id %>" style="display:block">$<%= asset.price.toLocaleString('en-US')%></span>
          <input type="text" name="price" value="<%= asset.price %>" id="price<%= asset.id %>" style="display:none">
          <% totalPrice += asset.price %>
        </td>
        <td>
          <button type="submit" style="display:none" id="save<%= asset.id %>">save</button>
      </form>
      <button onclick="editAsset(`<%= asset.id %>`)">edit</button>
      <form style="display: inline;" action="/families/asset/<%= asset.id %>?_method=DELETE" method="POST">
        <button type="submit">delete</button>
      </form>
      </td>
    </tr>
    <% }); %>
    <% } else { %>
    <tr>
      <td colspan="4">No assets owned yet.</td>
    </tr>
    <% } %>
  </table>
  <p>Total Price: $<%= totalPrice.toLocaleString('en-US') %></p>
  <%}%>

  <p>This is a family register of <b><%= parent.name %></b>:</p>
  <button onclick="addFamily()">Add Family</button>
  <div style="margin-top: 10px;display: none;" id="add-keluarga">
    <form action="/families/family" method="POST">
      <input type="hidden" name="idParent" value="<%= parent.id %>">
      <input type="text" name="name" placeholder="Input name in here..">
      <select name="gender">
        <option value="1">Male</option>
        <option value="0">Female</option>
      </select>
      <button type="submit">save</button>
    </form>
  </div>
  <table style="margin-top: 10px">
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Gender</th>
      <th>#</th>
    </tr>
    <% if(families.length > 0){ %>
    <% families.forEach((family,i) => { %>
    <tr>
      <td><%= i + 1 %></td>
      <form action="/families/<%= family.id %>?_method=PATCH" method="POST">
        <td>
          <a href="/families/<%= family.id %>" id="nameLabel<%= family.id %>"
            style="display:block"><%= family.name %></a>
          <input type="text" name="name" value="<%= family.name %>" id="name<%= family.id %>" style="display:none">
        </td>
        <td>
          <span id="genderLabel<%= family.id %>"
            style="display:block"><%= family.gender == true ? 'Male' : 'Female' %></span>
          <select name="gender" id="gender<%= family.id %>" style="display:none">
            <option value="<%= family.gender == true ? 1 : 0 %>" selected>
              <%= family.gender == true ? 'Male' : 'Female' %></option>
            <option value="<%= family.gender == true ? 0 : 1 %>"><%= family.gender == true ? 'Female' : 'Male' %>
            </option>
          </select>
        </td>
        <td>
          <button type="submit" style="display:none" id="save<%= family.id %>">save</button>
      </form>
      <button onclick="editFamily(`<%= family.id %>`)">edit</button>
      <form style="display: inline;" action="/families/<%= family.id %>?_method=DELETE" method="POST">
        <button type="submit">delete</button>
      </form>
      </td>
    </tr>
    <% }); %>
    <% } else { %>
    <tr>
      <td colspan="4">No family owned yet.</td>
    </tr>
    <% } %>
  </table>

  <script>
    function changeProduct(data) {
      const price = document.getElementById('price').value = data;
    }

    function addAsset() {
      const form = document.getElementById('add-aset');
      if (form.style.display == 'none') {
        form.style.display = 'block';
      } else {
        form.style.display = 'none';
      }
    }

    function addFamily() {
      const form = document.getElementById('add-keluarga');
      if (form.style.display == 'none') {
        form.style.display = 'block';
      } else {
        form.style.display = 'none';
      }
    }

    const editAsset = (da) => {
      let nameAsset = document.getElementById(`nameAsset${da}`);
      let nameAssetLabel = document.getElementById(`nameAssetLabel${da}`);
      let price = document.getElementById(`price${da}`);
      let priceLabel = document.getElementById(`priceLabel${da}`);
      let save = document.getElementById(`save${da}`);
      if (nameAsset.style.display == "none") {
        nameAsset.style.display = "block";
        nameAssetLabel.style.display = "none";
        price.style.display = "block";
        priceLabel.style.display = "none";
        save.style.display = "inline";
      } else {
        nameAsset.style.display = "none";
        nameAssetLabel.style.display = "block";
        price.style.display = "none";
        priceLabel.style.display = "block";
        save.style.display = "none";
      }

    }
    const editFamily = (da) => {
      let name = document.getElementById(`name${da}`);
      let nameLabel = document.getElementById(`nameLabel${da}`);
      let gender = document.getElementById(`gender${da}`);
      let genderLabel = document.getElementById(`genderLabel${da}`);
      let save = document.getElementById(`save${da}`);
      if (name.style.display == "none") {
        name.style.display = "block";
        nameLabel.style.display = "none";
        gender.style.display = "block";
        genderLabel.style.display = "none";
        save.style.display = "inline";
      } else {
        name.style.display = "none";
        nameLabel.style.display = "block";
        gender.style.display = "none";
        genderLabel.style.display = "block";
        save.style.display = "none";
      }
    }
  </script>
</body>

</html>