<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/aset">Aset</a></li>
        <li><a href="/users">User</a></li>
    </ul>
    <h1><%= title %></h1>
    <p>Ini adalah daftar keluarga:</p>
    <table>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Jenis Kelamin</th>
        </tr>
        <% families.forEach((family,i) => {%>
          <tr>
            <td><%= i + 1 %></td>
            <td><a href="/users/<%= family.id %>"><%= family.nama %></a></td>
            <td><%= family.jeniskelamin == true ? 'Laki-laki' : 'Perempuan' %></td>
          </tr>
        <% }); %>
    </table>
  </body>
</html>