<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/assets">Assets</a></li>
    <li><a href="/families">Families</a></li>
  </ul>

    <p>This is a family register:</p>
    <button onclick="addKeluarga()">Add Family</button>
    <div style="margin-top: 10px;display: none;" id="add-keluarga">
      <form action="/families/family" method="POST">
        <input type="text" name="name" placeholder="Input name in here..">
        <select name="gender">
          <option value="1">Male</option>
          <option value="0">Female</option>
        </select>
        <button type="submit">save</button>
      </form>
    </div>
  <table style="margin-top: 10px">
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Gender</th>
      <th>#</th>
    </tr>
    <% if(families.length > 0){ %>
    <% families.forEach((family,i) => { %>
    <tr>
      <td><%= i + 1 %></td>
      <form action="/families/<%= family.id %>?_method=PATCH" method="POST">
      <td>
        <a href="/families/<%= family.id %>" id="namaLabel<%= family.id %>" style="display:block"><%= family.name %></a>
        <input type="text" name="name" value="<%= family.name %>" id="nama<%= family.id %>" style="display:none">
      </td>
      <td>
        <span id="jkLabel<%= family.id %>" style="display:block"><%= family.gender == true ? 'Male' : 'Female' %></span>
        <select name="gender" id="jk<%= family.id %>" style="display:none">
          <option value="<%= family.gender == true ? 1 : 0 %>" selected><%= family.gender == true ? 'Male' : 'Female' %></option>
          <option value="<%= family.gender == true ? 0 : 1 %>"><%= family.gender == true ? 'Female' : 'Male' %></option>
        </select>
      </td>
      <td>
        <button type="submit" style="display:none" id="save<%= family.id %>">save</button>
      </form>
        <button onclick="editForm(`<%= family.id %>`)">edit</button>
        <form style="display: inline;" action="/families/<%= family.id %>?_method=DELETE" method="POST">
          <button type="submit">delete</button>
        </form>
      </td>
    </tr>
    <% }); %>
    <% } else { %>
      <tr>
        <td colspan="4">No family owned yet.</td>
      </tr>
    <% } %>
  </table>

  <script>
    function changeProduct(data) {
      const price = document.getElementById('price').value = data;
    }

    function addKeluarga() {
      const form = document.getElementById('add-keluarga');
      if (form.style.display == 'none') {
        form.style.display = 'block';
      } else {
        form.style.display = 'none';
      }
    }
    const editForm = (da) => {
      let nama = document.getElementById(`nama${da}`);
      let namaLabel = document.getElementById(`namaLabel${da}`);
      let jk = document.getElementById(`jk${da}`);
      let jkLabel = document.getElementById(`jkLabel${da}`);
      let save = document.getElementById(`save${da}`);
      if(nama.style.display == "none"){
        nama.style.display = "block";
        namaLabel.style.display = "none";
        jk.style.display = "block";
        jkLabel.style.display = "none";
        save.style.display = "inline";
      }else{
        nama.style.display = "none";
        namaLabel.style.display = "block";
        jk.style.display = "none";
        jkLabel.style.display = "block";
        save.style.display = "none";
      }
    }
  </script>
</body>

</html>