<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/assets">Assets</a></li>
    <li><a href="/families">Families</a></li>
  </ul>
  <h1><%= title %></h1>
  <p>This is a list of assets that everyone has:</p>
  <button onclick="addAsset()">Add Assets</button>
  <div style="margin-top: 10px;display: none;" id="add-aset">
    <form action="/families/asset" method="POST">
      <select name="idUser">
        <% families.forEach((family,i) => { %>
        <option value="<%= family.id %>"><%= family.name %></option>
        <% }); %>
      </select>
      <input type="hidden" name="price" id="price">
      <select name="nameAsset" id="aset"
        onchange="changeProduct(this.options[this.selectedIndex].getAttribute('data-price'))">
        <option>Pilih</option>
        <% products.forEach((product,i) => { %>
        <option value="<%= product.title %>" data-price="<%= product.price %>"><%=  product.title %></option>
        <% }); %>
      </select>
      <button type="submit">save</button>
    </form>
  </div>
  <table style="margin-top: 10px">
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Title</th>
      <th>Price</th>
      <th>#</th>
    </tr>
    <% if(assets.length > 0){ %>
    <% assets.forEach((asset, i) => { %>
    <tr>
      <td><%= i + 1 %></td>
      <form action="/families/asset/<%= asset.id %>?_method=PATCH" method="POST">
        <td>
          <span id="idUserLabel<%= asset.id %>" style="display:block"><%= asset.Family.name %></span>
          <select name="idUser" id="idUser<%= asset.id %>" style="display:none">
            <option value="<%= asset.idUser %>"><%= asset.Family.name %></option>
            <% families.forEach((family,i) => { %>
            <option value="<%= family.id %>"><%= family.name %></option>
            <% }); %>
          </select>
        </td>
        <td>
          <span id="nameAssetLabel<%= asset.id %>" style="display:block"><%= asset.nameAsset %></span>
          <input type="text" name="nameAsset" value="<%= asset.nameAsset %>" id="nameAsset<%= asset.id %>"
            style="display:none">
        </td>
        <td>
          <span id="priceLabel<%= asset.id %>" style="display:block">$<%= asset.price.toLocaleString('en-US')%></span>
          <input type="text" name="price" value="<%= asset.price %>" id="price<%= asset.id %>" style="display:none">
        </td>
        <td>
          <button type="submit" style="display:none" id="save<%= asset.id %>">save</button>
      </form>
      <button onclick="editForm(`<%= asset.id %>`)">edit</button>
      <form style="display: inline;" action="/families/asset/<%= asset.id %>?_method=DELETE" method="POST">
        <button type="submit">hapus</button>
      </form>
      </td>
    </tr>
    <% }); %>
    <% } else { %>
    <tr>
      <td colspan="5">No assets owned yet.</td>
    </tr>
    <% } %>
  </table>
  <script>
    function addAsset() {
      const form = document.getElementById('add-aset');
      if (form.style.display == 'none') {
        form.style.display = 'block';
      } else {
        form.style.display = 'none';
      }
    }

    function changeProduct(data) {
      const price = document.getElementById('price').value = data;
    }

    const editForm = (da) => {
      let idUser = document.getElementById(`idUser${da}`);
      let idUserLabel = document.getElementById(`idUserLabel${da}`);
      let nameAsset = document.getElementById(`nameAsset${da}`);
      let nameAssetLabel = document.getElementById(`nameAssetLabel${da}`);
      let price = document.getElementById(`price${da}`);
      let priceLabel = document.getElementById(`priceLabel${da}`);
      let save = document.getElementById(`save${da}`);
      if (idUser.style.display == "none") {
        idUser.style.display = "block";
        idUserLabel.style.display = "none";
        nameAsset.style.display = "block";
        nameAssetLabel.style.display = "none";
        price.style.display = "block";
        priceLabel.style.display = "none";
        save.style.display = "inline";
      } else {
        idUser.style.display = "none";
        idUserLabel.style.display = "block";
        nameAsset.style.display = "none";
        nameAssetLabel.style.display = "block";
        price.style.display = "none";
        priceLabel.style.display = "block";
        save.style.display = "none";
      }
    }
  </script>
</body>

</html>